{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% load static %}

{% block content %}

<section class="projects-section center-colum">
    <h2>Projects</h2>
    <div class="projects-list">
        {% for project in projects %}
        <div class="project-car">
            <a href="{{project.repository}}" target="_blank">
                <img src="{{project.image.url}}" alt="project.name">
                <p>{{project.name}}</p>
                <p>{{project.description}}</p>
                <p>{{project.year}}</p>
                {% for skill in project.skills.all %}
                <div class="skill-container center">
                    <label class="text-label">{{skill.name}}</label>
                </div>
                {% enfor %}
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% enblock %}